<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>error page</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}"/>
    </head>
    <body>
        <div class="banner">
            失敗頁面
        </div>
        <div class="main_part">
            <div class="content">
                {{ message }}
            </div>
            <a class="logout" href="/">
                返回首頁
            </a>
        </div>
    </body>
</html>