<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>member page</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}"/>
    </head>
    <body>
        <div class="banner">歡迎光臨，這是會員頁</div>
        <div class="main_part">
            <div class="content">
                恭喜您，成功登入系統
            </div>
            <a class="logout" href="/signout">
                登出系統
            </a>
        </div>
    </body>
</html>